body
	font-family: sans-serif


hr
	border: none
	border-bottom: solid 3px blue
	margin: 0


.CodeMirror
	height: auto
	border: solid 2px black
	max-width: 65em


.task-name
	background: blue
	color: white
	padding: 0.2em
	padding-bottom: 0.1em
