body
	font-family: sans-serif
	text-align: center


// #logo
// 	width: 300px

#console
	width: 600px
	height: 400px
	background-color: gray
	color: white
	position: fixed
	top: 0
	left: 0
	text-align: left
	padding: 10px
	font-family: monospace
	font-size: 16px
	

.CodeMirror
	height: auto
	border: solid 2px black
	max-width: 65em


.task-name
	background: blue
	color: white
	padding: 0.2em
	padding-bottom: 0.1em
	margin-bottom: 0.5em

button
	margin-left: 1em

// graphs
.visualization
	display: flex-box
	margin-top: 1em
	margin-bottom: 5em

.node
	&.task rect
		stroke: gray
		stroke-width: 2px
		fill: none

	&.step rect
		fill: yellow
		stroke: none

	&.flow
		polygon
			fill: rgb(200,200,200)
			stroke: none

		font-size: 14px
		// font-weight: bold

.edgePath path
	stroke: black
	stroke-width: 2px
