body
	font-family: sans-serif
	text-align: center


hr
	border: none
	border-bottom: solid 3px blue
	margin: 0


.CodeMirror
	height: auto
	border: solid 2px black
	max-width: 65em


.task-name
	background: blue
	color: white
	padding: 0.2em
	padding-bottom: 0.1em
	margin-bottom: 0.5em

button
	margin-left: 1em

// graphs
.visualization
	display: flex-box
	margin-top: 1em
	margin-bottom: 5em

.node
	&.task rect
		stroke: gray
		stroke-width: 2px
		fill: none

	&.step rect
		fill: yellow
		stroke: none

.edgePath path
	stroke: black
	stroke-width: 2px
