extends ../layouts/default


mixin task(t)
	div
		div
			b.task-name #{t.name}
			br
			br
			if t.interval
				button(onclick='run_task("#{t.slug}")') run now
			br
			br
			//- textarea.codemirror #{JSON.stringify(t, null, 4)}
			br
			br
			br


block content
	h1 'cause

	h2 #{tasks.length} tasks
	for t in tasks
		+task(t)


block js
	script(src='/bower_components/codemirror/lib/codemirror.js')
	script(src='/bower_components/codemirror/mode/javascript/javascript.js')
	script(src='/bower_components/codemirror/addon/selection/active-line.js')

	script(src='/js/index.js')