extends ../layouts/default

mixin task(t)
	hr
	div
		div
			b.task-name #{t.name}
			br
			br
			button(onclick='run_task("#{t.name}")') run now
			br
			br
			textarea.codemirror #{JSON.stringify(t, null, 4)}
			br
			br
			br

block content
	h1 causality

	h2 #{tasks.length} tasks
	for t in tasks
		+task(t)
